@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&family=Poppins:wght@200;300;400;500;600&display=swap');


/* ROOT */

:root {
    --bg-color-one: rgb(253, 253, 242);
    --bg-color-two: rgb(000, 000, 000);
    --accent-color-one: rgb(211, 21, 255);
    --accent-color-two: rgb(230, 95, 251);
    --title: rgb(175, 16, 199);
}

/* ALL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(144, 143, 143, 0.5), rgba(141, 140, 139, 0.5));
    background-position: center;
    background-size: cover;
    font-family: "Great Vibes", cursive;
}

header {
    align-items: center;
    background-color: var(--bg-color-two);
    display: flex;
    justify-content: center;
    text-shadow: 0 2px 2px rgb(175, 16, 199);
}

.wrapper {
    display: inline-block;
    padding: 0.5rem 0;
    position: relative;
}

.logo {
    height: 3em;
    left: -45px;
    position: absolute;
    top: 20px;
    width: 3em;
}

h1 {
    color: var(--accent-color-one);
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 0.5em;
}