@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&family=Poppins:wght@200;300;400;500;600&display=swap');


/* ROOT */

:root {
    --bg-color-one: rgb(253, 253, 242);
    --bg-color-two: rgb(000, 000, 000);
    --accent-color-one: rgb(211, 21, 255);
    --accent-color-two: rgb(230, 95, 251);
    --title: rgb(175, 16, 199);
}

/* ALL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(144, 143, 143, 0.5), rgba(141, 140, 139, 0.5)), url('../imgs/lbn-banner7.png');
    background-position: center;
    background-size: cover;
    font-family: "Great Vibes", cursive;
}

.wrapper {
    align-items: center;
    background-color: var(--bg-color-two);
    display: flex;
    justify-content: center;
}

.logo {
    height: 5em;
    margin: 1rem 0;
    width: 24em;
}

h1 {
    color: var(--accent-color-one);
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0.5em 0;
    text-shadow: 0 2px 2px rgb(12, 12, 12);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media only screen and (max-width: 32em) {
    h1 {
        font-size: 2.2rem;
    }

    .logo {
        height: 4em;
        width: 20em;
    }
}

@media only screen and (max-width: 18em) {
    h1 {
        font-size: 1.8rem;
    }

    .logo {
        height: 2em;
        width: 16em;
    }
}