@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&family=Poppins:wght@200;300;400;500;600&display=swap');

/* ALL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: rgb(200, 92, 142), url('../imgs/lbn-banner7.png'); */
    background: url('../imgs/lbn-banner7.png'), rgb(253, 204, 204);
    background-position: center;
    background-size: cover;
    font-family: "Great Vibes", cursive;
}

header {
    align-items: center;
    background-color: rgba(253, 204, 204, 0.9);
    display: flex;
    justify-content: center;
}

.wrapper {
    display: inline-block;
    padding: 0.5rem 0;
    position: relative;
}

.logo {
    height: 3em;
    left: -45px;
    position: absolute;
    top: 20px;
    width: 3em;
}

h1 {
    color:rgb(157, 60, 114);
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 0.5em;
}