/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@300;400;500;600&display=swap');

/* ALL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    text-align: center;
}

/* LAYOUT */

.container {
    background-color: rgb(253, 253, 242);
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

section {
    align-items: center;
    display: flex;
    flex-basis: 25em;
    flex-direction: column;
    gap: 2em;
    padding-top: 3em;
}

#contact {
    align-items: baseline;
    background-color:rgb(253, 204, 204);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.connect, .hours {
    flex-basis: 25em;
    line-height: 1.6;
    margin-top: 4em;
    padding-bottom: 2.5em;

}

.navigation {
    background-color:rgba(253, 204, 204, 0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.6em 0;
}

@media all and (max-width: 44em) {
    header h1 {
        text-shadow: 0 1px rgb(157, 60, 114);
    }
    
    section p {
        padding: 0 1em;
    }
}

/* CONTENT */

.header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 230, 206, 0.5), rgba(255, 208, 188, 0.5)), url('../imgs/lbn-banner7.png'), url('../imgs/manicure.jpg');
    background-position: bottom;
    background-size: cover;
}

.logo {
    height: 1.8em;
    width: 1.8em;
}

.navigation li {
    flex: 2 20 16em;
    padding: .5em 0;
    list-style-type: none;
}

#book a {
    background-color: rgb(200, 92, 142);
    border: 2px solid rgb(188, 87, 142);
    border-radius: 50px;
    color: rgb(245, 245, 245);
    font-weight: 500;
    padding: .5em 1em;
    text-decoration: none;
}

#book a:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(200, 92, 142);
    font-weight: 600;
}

.nav-link {
    color: rgb(157, 60, 114);
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
}

.header h1 {
    align-self: center;
    color: rgb(200, 92, 142);
    font-family: "Great Vibes", cursive;
    font-size: clamp(min(11vw, 25rem), 11vw, max(50vw, 30rem));
    font-weight: 300;
    padding: 1.5em 0 ;
    text-shadow: 2px 1px rgb(157, 60, 114);
}

section p {
    line-height: 1.7;
    max-width: 70ch;
}

#about p {
    text-align: justify;
}